<form class="border p-3 rounded-3" [formGroup]="loginForm" (ngSubmit)="loginSubmited()">
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Patient Login</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for = "email" class="form-label" >Email Address</label>
            <input type="email" class="form-control" id = "email" formControlName="email">
            <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && 
            (Email.touched || Email.dirty)">
                Email is Required.
            </div>
            <div class="form-text text-danger" *ngIf="Email.errors?.['email'] && 
            (Email.touched || Email.dirty)">
                Email is Invalid.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for = "pwd" class="form-label" >Password</label>
            <input type="password" class="form-control" id = "pwd" formControlName="pwd">
            <div class="form-text text-danger" *ngIf="PWD.errors?.['required'] && 
            (PWD.touched || PWD.dirty)">
                Password is Required.
            </div>
            <div class="form-text text-danger" *ngIf="PWD.errors?.['maxlength'] || PWD.errors?.['minlength'] && 
            (PWD.touched || PWD.dirty)">
                Password should be at least 6 and at the max 15 character long.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type = "submit"  [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-3">
            <span class="me-2">Don't have an Account?</span><a routerLink="/register">Register</a>
        </div>
    </div>
</form>
